/* LIST #1 */
#list1 { position:fixed; z-index:1000; background:gray; left:0px; width:100%; top:0px; }
#list1 ul { list-style:none; text-align:center; border-top:1px solid #eee; border-bottom:1px solid #eee; padding:20px 0;}
#list1 ul li { display:inline; text-transform:uppercase; padding:0 20px; letter-spacing:10px; }
#list1 ul li a { text-decoration:none; color:#eee; }
#list1 ul li a:hover { text-decoration:underline; }