<!DOCTYPE html>
<html lang="en" ng-app="hr">
  <head>
    <title>Hack Rice 2014</title>
    <link rel="shortcut icon" href="logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="css/jumbotron-narrow.css" rel="stylesheet"> -->
    <link href="css/sticky-footer-navbar.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="js/choosing.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
       function toggle_visibility(id) {
           var e = document.getElementById(id);
           if(e.style.display == 'block')
              e.style.display = 'none';
           else
              e.style.display = 'block';
       }
    </script>

  </head>
  <body>
<div ng-controller="choice" ng-init="load()">
    <div id="wrap">
        <div class="container container-narrow">
            <div class="page-header">
                <h1>Generic Application</h1>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <img src="http://placehold.it/700x400">
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-success" onclick="toggle_visibility('add_course')">Add Course</button>

                    <button type="button" class="btn btn-danger" onclick="toggle_visibility('remove_course')">Remove Course</button>
                </div>
                <div id="add_course" style="display: none">
                        <form name="input" action="html_form_action.asp" method="get">

                        <form action="">
                        Department:<select ng-model="dept" ng-options="c.dept in for c in courses | unique:'dept'" name="departments">
                        </select>
                    </br>

                        <form action="">
                        Course: <select ng-model="number" ng-options="c.number in for c in courses | unique:'number'" name="courses">
                        </select>
                    </br>

                        <form action="">
                        Distribution: <select ng-model="dist" ng-options="c.dist in for c in courses | unique:'dist'" name="distribution">
                        </select>
                    </br>
		    <a href="http://registrar.rice.edu/students/reg_instructions/" target="_blank" class="registrationLink">Register For Classes</a>
                </div>
                <div id="remove_course" style="display: none">
                    <h1>Remove Course Form Goes Here</h1>
                </div>
                <img src="http://placehold.it/300x300">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2> Course Evaluations <small> Averaged From Previous Semesters</small></h2>
                    <div class="chart" id="pie_chart"></div>
                    <div class="chart" id="bar_chart_1"></div>
                    <div class="chart" id="bar_chart_2"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <p class="text-muted credit">Hack Rice 2014 | Built by Alex, Calvin, Jesse, Lauren, and Tres</p>
        </div>
    </div>
    
    <!-- dat js -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/graph.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
        google.load('visualization', '1.0', {'packages':['corechart']});
        google.setOnLoadCallback(drawChart);
    </script>
    
</div>
  </body>
</html>
