.push-right {
    width: 300px;
    margin: 20px auto;
}

/*@media (min-width: 768px) {
  .container-narrow {
    max-width: 730px;
  }
}*/

#container-nopad {
    display: none;
    padding-top: 0px !important;
}

#content {
    display: none;
}

.row {
    padding: 15px;
}

.chart {
    width: 300px;
    height: 400px;
    display: inline-block;
}

table {
    font-size: 10px;
}

thead {
    font-weight: 800;
    text-align: center;
}

td.header {
    width: 30px;
    font-size: 12px;
}

td.tiny {
    width: 5px;
}

td.time {
    width: 5px;
}

table.table-blah {
    background-color: white;
    border-width: 0px;
}

td.nope {
    border-style: none;
    border-width: 0px 0px 0px 0px;
    text-align: center;
    border-color: #ccc;
}

td {
    height: 20px;
    width: 20px;
    border-right-style: solid;
    border-color: #ccc;
    border-width: 0px 1px 0px 0px;
}

td.left {
    border-right-style: solid;
}

td.right {
    border-right-style: none;
}

#add-class {
    padding: 15px;
    width: 100px;
}

#class-list {
    padding: 0px 15px 15px;
    width: 250px;
}

#current {
    font-weight: bold;
    background-color: #d9edf7;
}

.bottom {
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    padding: 5px;
    border-color: #eee;
    border-style: solid;
    border-width: 0px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px; /* future proofing */
    -khtml-border-radius: 6px; /* for old Konqueror browsers */
}

.class-element {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px; /* future proofing */
    -khtml-border-radius: 6px; /* for old Konqueror browsers */
    width: 116px;
    line-height: 25px;
    position: absolute;
    text-align: center;
    font-weight: 900;
    color: white;
    font-size: 12px;
    height: 25px;
}

#math-355 {
    background-color: #9C25C2;
}

#math-101 {
    background-color: #2A9156;
}

#comp-310 {
    background-color: #D54C33;
}

.input-group {
    padding-top: 10px;
}

.list-group :hover {
    background-color: #f0f8ff;
}

#footer {
    display: none;
}