.push-right {
    width: 300px;
    margin: 20px auto;
}

/*@media (min-width: 768px) {
  .container-narrow {
    max-width: 730px;
  }
}*/

#container-nopad {
    display: none;
    padding-top: 0px !important;
}

#content {
    display: none;
}

#omit-border {
    border: 0px;
    padding-bottom: 0px;
}

.row {
    padding: 15px;
}

.chart {
    width: 300px;
    height: 400px;
    display: inline-block;
}